body {
    font-family:'Nunito', sans-serif;
    background-color: #303841;
}
p {
    font-size: 15px;
    color: #ffff;
}
.nome-ocupação {
    position: absolute;
    width: 370px;
    height: 95px;
    left: 371px;
    top: 53px;
}
.nome-ocupação h1 {
    font-size: 45px;
    color:#ffff
}
.nome-ocupação h2 {
    position: absolute;
    font-size: 20px;
    color: #929292;
    left: 5px;
}
#foto-landscape {
    position:absolute;
    width: 406px;
    height: 270px;
    left: 979px;
    top: 53px;
    border-radius: 10px;
}
.o-que-faço {
    position: absolute;
    left: 387px;
    top: 500.09px;
}
.o-que-faço h2 {
    position: relative;
    font-weight: 700;
    color: #ffff;
    left: 10px;
    bottom: 35px;
}
.o-que-faço p {
    min-width: 800px;
    
}
.traço-vertical {
    position: relative;
    width: 5px;
    height: 45px;
    background-color: #E02F2F;
}
.azul {
    background-color: #0A7BBA;
}

.lang-e-tec {
    position: absolute;
    width: 716px;
    height: 337px;
    left: 387px;
    top: 700px;
}
.lang-e-tec h2 {
    position: relative;
    font-weight: 700;
    color: #ffff;
    left: 10px;
    bottom: 35px;
}
.git {
    width: 240px;
    height: 240px;
}
.lang-e-tec img {
    width: 45px;
    margin-bottom: 15px;
}